.products-card {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive grid with at least 250px per product */
  gap: 1.5rem; /* Space between products */
  align-items: stretch;
  gap: 1.5rem;
}

.selected-product-category {
  margin-top: 96px;
  padding: 1rem 2rem 3rem;
  background: var(--color-bg);
}

.selected-product-category h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: var(--color-text);
}
